// Font Family
$font-family-default:           'merriweather', Verdana, Helvetica, Arial, sans-serif !default;

$font-family-mono: 				"Menlo", "Monaco", monospace;
$font-family-serif:				"Georgia", "Times", "Times New Roman", serif;

// Font Weights
$font-weight-regular:			400;
$font-weight-medium:			500;
$font-weight-bold:				700;
$font-weight-ultrabold:		  	900;

// Base Sizes
$base-font-size:				15px !default;
$base-line-height:				22px !default;

// Heading Sizes
$header1-font-size:				$base-font-size * 1.8 !default;
$header2-font-size:				$base-font-size * 1.7 !default;
$header3-font-size:				$base-font-size * 1.6 !default;
$header4-font-size:				$base-font-size * 1.5 !default;
$header5-font-size:				$base-font-size * 1.3 !default;
$header6-font-size:				$base-font-size * 1.2 !default;
$h1-line-height:				$base-line-height * 1.3 !default;
$h2-line-height:				$base-line-height * 1.3 !default;
$h3-line-height:				$base-line-height * 1.2 !default;
$h4-line-height:				$base-line-height * 1.2 !default;
$h5-line-height:				$base-line-height * 1.1 !default;
$h6-line-height:				$base-line-height * 1.1 !default;

// Comments
$comment-font-size:				$core-font-size - 0.12 !default;


