.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #dd1144; }
.kwd, .linenums .tag { color: #3A87B2; }
.typ, .atn, .dec, .var { color: teal; }

address {
    font-style: normal;
    margin: 10px 0;
}

small {
    font-size: 0.85em;
}

cite {
	font-size: inherit;
	font-style: normal;
	display: inline;
}

cite:before {
	content: " ";
}


blockquote {
	padding: 0 0 0 15px;
  margin: 0 0 20px;
}	

blockquote.pull-right {
		float: right;
    padding-right: 15px;
    padding-left: 0;
    border-left: 0;
}
blockquote.pull-right p, blockquote.pull-right small {
	text-align: right;
}

blockquote.pull-right small:before {
	content: " ";
}
blockquote.pull-right small:after {
	content: "\00A0 \2014";
}
blockquote.pull-right cite:before {
	content: " ";
}

blockquote p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

blockquote small {
	display: block;
	line-height: 20px;
}
blockquote small:before {
	content: "\00A0 \2014";
	margin-right: 2px;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
}

ol.linenums {
  margin: 0 0 0 33px;
  padding-left: 0;
}  
  
ol.linenums li {
  padding-left: 12px;
  color: #b8b8b8;
  line-height: 18px; 
}


.dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dl-horizontal	dd {
	margin-left: 180px;
}    


dt, dd {
    line-height: 20px;
}

dt, legend, .success, .warning, .info, .error {
	font-weight: bold;
}

dd {
    margin-left: 10px;
}

.btn {
	border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);
	display: inline-block;
    padding: 4px 14px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
   	background-color: #f5f5f5;
   	border: 1px solid #bbb;
   	border-radius: 4px;
}    

.btn:hover {
    background-color: #e6e6e6;
    background-position: 0 -15px;
    transition: background-position .1s linear;
}


label {
	display: block;
    margin-bottom: 5px;
    line-height: inherit;
    vertical-align: middle;
}    

.radio, .checkbox {
    min-height: 18px;
}

form.gantry-example {
    padding-bottom: 19px;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

.help-block {
    display: block;
    margin-bottom: 10px;
}

.radio input[type="radio"], .checkbox input[type="checkbox"] {
    float: left;
    margin-left: -18px;
    margin: 5px;
    height: auto;
}  

.radio.inline, .checkbox.inline {
    display: inline-block;
    padding-top: 5px;
    margin-bottom: 0;
    vertical-align: middle;
}

.input-mini {
  width: 60px;
}
.input-small {
  width: 90px;
}
.input-medium {
  width: 150px;
}
.input-large {
  width: 210px;
}
.input-xlarge {
  width: 270px;
}
.input-xxlarge {
  width: 530px;
}

.form-horizontal .control-label {
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
}

.form-horizontal .controls {
    margin-left: 180px;
}

.form-horizontal .help-inline {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.control-group.warning > label, .control-group.warning .help-block, .control-group.warning .help-inline {
    color: #c09853;
}

.control-group.error > label, .control-group.error .help-block, .control-group.error .help-inline {
    color: #b94a48;
}

.control-group.info > label, .control-group.info .help-block, .control-group.info .help-inline {
    color: #3a87ad;
}

.control-group.success > label, .control-group.success .help-block, .control-group.success .help-inline {
    color: #468847;
}

label, input, button, select, textarea {
    font-size: 14px;
    font-weight: normal;
}    

.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  border-color: #c09853;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  border-color: #3a87ad;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.form-horizontal .control-group {
    margin-bottom: 20px;
}

.help-inline {
    padding-left: 5px;
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255,255,255,0.75);
}
.btn {
  border-color: #c5c5c5;
  border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);
}
.btn-primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top,#08c,#0044cc);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#0044cc));
  background-image: -webkit-linear-gradient(top,#08c,#0044cc);
  background-image: -o-linear-gradient(top,#08c,#0044cc);
  background-image: linear-gradient(to bottom,#08c,#0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0043cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #0044cc;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #fff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}
.btn-warning {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #faa732;
  background-image: -moz-linear-gradient(top,#fbb450,#f89406);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));
  background-image: -webkit-linear-gradient(top,#fbb450,#f89406);
  background-image: -o-linear-gradient(top,#fbb450,#f89406);
  background-image: linear-gradient(to bottom,#fbb450,#f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffab44f', endColorstr='#fff89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #f89406;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #fff;
  background-color: #f89406;
  *background-color: #df8505;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}
.btn-danger {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top,#ee5f5b,#bd362f);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
  background-image: -webkit-linear-gradient(top,#ee5f5b,#bd362f);
  background-image: -o-linear-gradient(top,#ee5f5b,#bd362f);
  background-image: linear-gradient(to bottom,#ee5f5b,#bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #bd362f;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #fff;
  background-color: #bd362f;
  *background-color: #a9302a;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}
.btn-success {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top,#62c462,#51a351);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
  background-image: -webkit-linear-gradient(top,#62c462,#51a351);
  background-image: -o-linear-gradient(top,#62c462,#51a351);
  background-image: linear-gradient(to bottom,#62c462,#51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #51a351;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #fff;
  background-color: #51a351;
  *background-color: #499249;
}
.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}
.btn-info {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top,#5bc0de,#2f96b4);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));
  background-image: -webkit-linear-gradient(top,#5bc0de,#2f96b4);
  background-image: -o-linear-gradient(top,#5bc0de,#2f96b4);
  background-image: linear-gradient(to bottom,#5bc0de,#2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #2f96b4;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #fff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}
.btn-inverse {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #363636;
  background-image: -moz-linear-gradient(top,#444,#222);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#444),to(#222));
  background-image: -webkit-linear-gradient(top,#444,#222);
  background-image: -o-linear-gradient(top,#444,#222);
  background-image: linear-gradient(to bottom,#444,#222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  border-color: #222 #222 #000000;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #222;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #fff;
  background-color: #222;
  *background-color: #151515;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #090909 \9;
}

.btn-link {
  border-color: transparent;
  cursor: pointer;
  color: #08c;
  border-radius: 0;
}
.btn-link:hover {
  color: #005580;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover {
  color: #333;
  text-decoration: none;
}
.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn-large {
  padding: 9px 14px;
  font-size: 16px;
  line-height: normal;
  border-radius: 5px;
}
.btn-large [class^="icon-"] {
  margin-top: 2px;
}
.btn-small {
  padding: 3px 9px;
  font-size: 12px;
  line-height: 18px;
}
.btn-small [class^="icon-"] {
  margin-top: 0;
}
.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 17px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.btn-primary.disabled, .btn-primary[disabled], .btn-primary.disabled:hover, .btn-primary[disabled]:hover {
    color: #002444 !important;
    text-shadow: none;
}

.btn-primary.disabled, .btn-primary[disabled], .btn-primary.disabled:hover, .btn-primary[disabled]:hover {
    background-color: #0085F6 !important;
}

.btn.disabled, .btn[disabled], .btn.disabled:hover, .btn[disabled]:hover {
    background-color: #e6e6e6;
    color: #808080;
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}  

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly], .uneditable-input, .uneditable-textarea {
    color: #b8b8b8;
    background-color: #ffffff;
    border: 1px solid #d5d5d5;
}

.uneditable-input, .uneditable-textarea {
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.025);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.025);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.025);
    cursor: not-allowed;
}

.uneditable-input {
    display: inline-block;
    height: 30px;
    padding: 4px 6px;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 3px;
}        

.form-actions {
    padding: 19px 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-top: 1px solid #d5d5d5;
}

.form-inline input {
    display: inline-block;
} 

.form-search label, .form-inline label, .form-search .btn-group, .form-inline .btn-group {
    display: inline-block;
}

.form-search .input-append .search-query {
    border-radius: 14px 0 0 14px;
}

.form-search .input-prepend .search-query {
    border-radius: 0 14px 14px 0;
}