.g-video-container {
.g-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    background: $black;
    box-shadow: 0 0.5rem 3rem $black;
    iframe, object, embed, video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &:hover {
        .g-videolocal-play.pause {
            opacity: 1;
        }
    }
    .g-videolocal-play {
        position: absolute;
        height: 3.5vw;
        width: 3.5vw;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: 50%;
        margin-bottom: -40px;
        background: url('gantry-media://owlcarousel/play.svg') no-repeat;
        background-size: contain;
        cursor: pointer;
        opacity: 1;

        @include breakpoint(small-mobile-range) {
            height: 12vw;
            width: 12vw;
        }
        @include breakpoint(mobile-only) {
            height: 12vw;
            width: 12vw;
        }
        @include breakpoint(tablet-range) {
            height: 6vw;
            width: 6vw;
        }

        &.pause {
            background: url('gantry-media://owlcarousel/paused.svg');
            background-size: contain;
            opacity: 0;
        }
    }
    .g-video-nocontrols::-webkit-media-controls {
        display:none !important;
    }
}
// Columns

// 1 Column
&.g-video-container-columns-1 {
    .g-video-inner {
        width: 100%;
    }
}
// 2 Columns
&.g-video-container-columns-2 {
    @include display(flex);
    @include flex-wrap(wrap);
    .g-video-inner {
        width: 50%;

        .g-video {
            margin-right: $content-padding;

            @include breakpoint(mobile-only) {
              margin: 0;
            }
        }

        @include breakpoint(mobile-only) {
            width: 100%;
            margin-bottom: $content-margin;
        }
    }
}
// 3 Columns
&.g-video-container-columns-3 {
    @include display(flex);
    @include flex-wrap(wrap);
    .g-video-inner {
        width: 33.3%;

        .g-video {
            margin-right: $content-padding;

            @include breakpoint(mobile-only) {
              margin: 0;
            }
        }

        @include breakpoint(tablet-range) {
            width: 50%;
        }
        @include breakpoint(mobile-only) {
            width: 100%;
            margin-bottom: $content-margin;
        }
    }
}
// 4 Columns
&.g-video-container-columns-4 {
    @include display(flex);
    @include flex-wrap(wrap);

    .g-video-inner {
        width: 25%;

        .g-video {
            margin-right: $content-padding;

            @include breakpoint(mobile-only) {
              margin: 0;
            }
        }

        @include breakpoint(tablet-range) {
            width: 50%;
        }
        @include breakpoint(mobile-only) {
            width: 100%;
            margin-bottom: $content-margin;
        }
    }
}
}

// Caption
.g-video-caption {
    text-align: center;
    @include responsive-font($responsive-font-size + 0.3, $base-font-size, false, false);
    padding: $content-padding + 1 0;
    @include breakpoint(mobile-only) {
      padding: $content-padding 0;
    }
    color: $base-text-color;
}
